#!/bin/bash
sudo apt update
sudo apt install -y docker.io
sudo systemctl enable docker
sudo systemctl start docker
sudo usermod -aG docker ubuntu
sudo chmod 666 /var/run/docker.sock
ssh-keygen -t ed25519 -C "aitbaraabdelatif@outlook.com"
ssh-keyscan github.com >> ~/.ssh/known_hosts


sudo cat <<EOF | sudo tee /etc/hostname
Building-Machine
EOF



